@font-face {
  font-family: 'Raleway';
  src: url('../../fonts/RalewayRegular/RalewayRegular.eot');
  src: url('../../fonts/RalewayRegular/RalewayRegular.eot') format('embedded-opentype'),
       url('../../fonts/RalewayRegular/RalewayRegular.woff2') format('woff2'),
       url('../../fonts/RalewayRegular/RalewayRegular.woff') format('woff'),
       url('../../fonts/RalewayRegular/RalewayRegular.ttf') format('truetype'),
       url('../../fonts/RalewayRegular/RalewayRegular.svg#RalewayRegular') format('svg');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Raleway';
  src: url('../../fonts/RalewayLight/RalewayLight.eot');
  src: url('../../fonts/RalewayLight/RalewayLight.eot') format('embedded-opentype'),
       url('../../fonts/RalewayLight/RalewayLight.woff2') format('woff2'),
       url('../../fonts/RalewayLight/RalewayLight.woff') format('woff'),
       url('../../fonts/RalewayLight/RalewayLight.ttf') format('truetype'),
       url('../../fonts/RalewayLight/RalewayLight.svg#RalewayLight') format('svg');
  font-weight: 300;
  font-style: normal;
}
